Source: docker-ce
Section: admin
Priority: optional
Maintainer: Source <source@swarmee.io>
Standards-Version: 3.9.6
Homepage: https://dockerproject.org
Vcs-Browser: https://github.com/swarmee-io/kengine
Vcs-Git: git://github.com/swarmee-io/kengine.git

Package: docker-ce
Architecture: linux-any
Depends: iptables, cri-o-1.9, cri-o-runc, containernetworking-plugins, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: aufs-tools,
            ca-certificates,
            cgroupfs-mount | cgroup-lite,
            git,
            xz-utils,
            ${apparmor:Recommends}
Conflicts: docker (<< 1.5~), docker.io, lxc-docker, lxc-docker-virtual-package, docker-engine, docker-engine-cs, docker-ee
Replaces: docker-engine
Description: KEngine: A Moby-based container engine